

col {
padding-top: 60px;

}
.mybtn{
    background: #482BE7;
    border: 0px solid;
    color: white;
}

.ffk {
display: flex;
gap: 5px;
margin-top: 8px;
}

.frank {
    color: #1E0E62;
    
}
    
.row {
    margin: 0 !important;
}

.myimg {
    width: 70;
}
@media screen and (max-width: 650px) {
    .mybtn{
        width: 100%;
    }
}
     .myimg {
        width: 80%;
     }
     .my {
        margin-top:120px ;
     }







 


    


    



