

col {
padding-top: 60px;

}
.mybtn{
    background: #482BE7;
    border: 0px solid;
    color: white;
}

.ffk {
display: flex;
gap: 5px;
margin-top: 8px;
}

.frank {
    color: #1E0E62;
    
}
    










 


    


    



